[Unit]
Description=Hive Updater Launcher
After=couchdb.service openntpd.service systemd-remount-fs.service

[Service]
Type=simple
Restart=always
RestartSec=15s
ExecStart=/bin/node /root/Hive-Updater/server.js

[Install]
WantedBy=multi-user.target


