[Unit]
Description=Ground Hive Updater Update
After = network.target
Before=couchdb.service ground-hive-updater.service

[Service]
Type=simple
ExecStart=/bin/sh -c /root/Ground-Hive-Updater/util/pull-ground-hive-updater-updates.sh

[Install]
WantedBy=multi-user.target
