[Unit]
Description=Update the Hive Updater
After = network.target
Before=couchdb.service hive-updater.service

[Service]
Type=simple
ExecStart=/bin/sh -c /root/Hive-Updater/util/pull-hive-updater-updates.sh

[Install]
WantedBy=multi-user.target
